<!DOCTYPE Configuration>
<Configuration>
  <CameraHub>
    <Camera1>
      <calibfilename>
        <Default/>
      </calibfilename>
      <topic>
        <Default>cv_camera/image_raw</Default>
      </topic>
      <queuesize>
        <Default>1000</Default>
      </queuesize>
      <queryinterval>
        <Default>10</Default>
      </queryinterval>
    </Camera1>
    <Camera2>
      <calibfilename>
        <Default/>
      </calibfilename>
      <topic>
        <Default>/image_raw</Default>
      </topic>
      <queuesize>
        <Default>1000</Default>
      </queuesize>
      <queryinterval>
        <Default>10</Default>
      </queryinterval>
    </Camera2>
  </CameraHub>
  <ImuHub>
    <IMU>
      <portname>
        <Default>ttyACM0</Default>
      </portname>
      <baudrate>
        <Default>115200</Default>
        <Option_0>1200</Option_0>
        <Option_1>2400</Option_1>
        <Option_2>4800</Option_2>
        <Option_3>9600</Option_3>
        <Option_4>19200</Option_4>
        <Option_5>38400</Option_5>
        <Option_6>57600</Option_6>
        <Option_7>115200</Option_7>
      </baudrate>
    </IMU>
  </ImuHub>
</Configuration>
